p {
  color: aqua;
}

body {
  background-color: brown;
  color: aqua;
  text-align: center;
  font-family: Arial, sans-serif;

  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 40px;
  min-height: 100vh;
}

.image-container {
  position: relative;     
  display: inline-block;  
  margin-top: 20px;
}

.movelebrondown {
  width: 400px;  
  height: auto;
  display: block;
  border-radius: 10px;
}


.startbox {
  position: absolute;
  bottom: -20px;           
  left: 50%;
  transform: translateX(-50%);
 
  width: 7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  
}
