
p{ 
color:aqua;
}
body{
    background-color:brown;
    text-align: center;
}
.startbox {
   
    display: flex;
margin-right: 50%;
    width: 7rem;
    height: 5rem;
    background: rgb(255, 251, 0);
    margin: 200px  0 750px;
}
header{
    font-size: large;
}