/* .startbox{
    width: 5rem;
    height: 5rem;
    background: blue;
}
p{ 
color:aqua;
}
body{
    background-color: grey;
}
.startbox {

text-align: center;
    width: 7rem;
    height: 5rem;
    background: rgb(255, 251, 0);
    margin: 200px 0 0 750px;

}
